/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    cursor: url('assets/crosshair.png'), auto;
    background-image: linear-gradient(to bottom, #ff7200, black);
      background-attachment: fixed;
  
  }

.crosshair-cursor {
    cursor: url('assets/confirm.png'), auto;
    }
/* Custom background separator styling */
.bg-sep {
    position: relative;
    height: 1vh;
}
