/* src/components/Sponsors/Sponsors.css */
.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: calc((250px * 8) / 2);
    display: flex;
    align-items: center;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
}

.slide {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-img {
    width: 100%;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 11));
    }
}